body{
    padding: 0;
    margin: 0;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    
}

.panel{
    background-color: #2f3134;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255,0.1);
    color: #ffffff;
    text-align: center;
    align-items: center;

    transition: 
                font-size 0.7 cubic-bezier(0.61, -0.19, 0.7, -0.11),
                flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
                background 0.2s;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.panel1{
background-image: url(img/6.jpg);
background-color: #581845;
}

.panel2{
    background-image: url(img/2.jpg);
    background-color: #900c3f;
}
.panel3{
        background-image: url(img/1.jpg);
        background-color: #c70039;
}
.panel4{
        background-image: url(img/3.jpg);
        background-color: #ff5733;
}
.panel5{
        background-image: url(img/4.jpg);
        background-color: #ffc300;
}

/*Flex Items*/

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0,0.72), 0 0 14px rgba(0, 0, 0,0.45);
    font-size: 2em;
    /* background-color: black; */
    
}
.fromTop{ transform: translateY(-100%);}
.fromBottom{ transform: translateY(100%);}

.open .fromTop,
.open .fromBottom{
    transform: translateY(0);
}
.panel p:nth-child(2){
    font-size: 4em;
}

.panel.open{
    flex: 5;
    font-size: 40px;
}

.cta{
    color: #ffffff;
    text-decoration: none;
}
